agent: enabled=1
boot: c
bootdisk: scsi0
ciuser: tuhin
cores: 4
ide2: local-lvm:vm-130-cloudinit,media=cdrom,size=4M
ipconfig0: ip=10.10.0.30/24,gw=10.10.0.1
memory: 12288
meta: creation-qemu=10.1.2,ctime=1774641056
name: ci-1
nameserver: 1.1.1.1
net0: virtio=BC:24:11:9F:57:40,bridge=vmbr1
onboot: 1
scsi0: local-lvm:vm-130-disk-0,size=13824M
scsihw: virtio-scsi-pci
searchdomain: lab.local
serial0: socket
smbios1: uuid=2d11c2b1-a69f-4aa7-8347-bce09c9193af
sshkeys: ssh-ed25519%20AAAAC3NzaC1lZDI1NTE5AAAAIFUP2gchaYhFzN7BTO6%2BYZg%2BTgx2UKiGcnrdWfOL7C%2Bb%20tuhinzman%40gmail.com%0A
vga: serial0
vmgenid: 25e738db-3452-495e-b039-c7f6efac0763
