agent: enabled=1
boot: c
bootdisk: scsi0
ciuser: tuhin
cores: 2
ide2: local-lvm:vm-9001-cloudinit,media=cdrom,size=4M
ipconfig0: ip=10.10.0.60/24,gw=10.10.0.1
memory: 2048
meta: creation-qemu=10.1.2,ctime=1774641056
name: ubuntu-2404-hardened
nameserver: 1.1.1.1
net0: virtio=BC:24:11:FE:78:8F,bridge=vmbr1
scsi0: local-lvm:base-9001-disk-0,size=13824M
scsihw: virtio-scsi-pci
searchdomain: lab.local
serial0: socket
smbios1: uuid=efb9feb8-4282-409f-96cb-16a341b72c3f
sshkeys: ssh-ed25519%20AAAAC3NzaC1lZDI1NTE5AAAAIFUP2gchaYhFzN7BTO6%2BYZg%2BTgx2UKiGcnrdWfOL7C%2Bb%20tuhinzman%40gmail.com%0A
template: 1
vga: serial0
vmgenid: b9c9e8bf-859f-4d98-8f6d-a8bbe946365f
